.map {
  display: block;
  min-height: 355px;
  background-image: url("../img/background/map-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../img/background/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background/map-desktop.jpg");
  }
}

.map__image {
  width: 100%;
  height: 350px;
  margin: auto;
  border: none;
  background-color: $white;

  &--nojs {
    display: none;
  }
}
