
.advantages__list,
.advantages__sub-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.advantages__sub-list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item {
  text-align: center;

  &--large {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.advantages__item-content {
  display: grid;
  padding: 70px 25px 5px;
  background-color: #81b3d2;
}

.advantages__item-content .advantages__title {
  margin-bottom: 10px;
  color: $white;
}

.advantages__item-content .advantages__number {
  display: block;
  margin-bottom: 18px;
  color: $white;
}

.advantages__item-content .advantages__description {
  margin: 0;
  color: $white;
}

.advantages__image {
  display: block;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    width: 100%;
  }
}

.advantages__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
}

.advantages__sub-item {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__sub-title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
  }
}


.advantages__sub-item:nth-child(1) {
  padding: 36px 20px 5px 69px;

  @media (min-width: $tablet-width) {
    padding: 9px 20px 5px;
  }
}

.advantages__sub-item:not(:nth-child(1)) {
  padding: 9px 20px 5px 69px;

  @media (min-width: $tablet-width) {
    padding: 9px 20px 5px;
  }
}

.advantages__sub-item:last-child {
  padding-bottom: 22px;
}

.housing-item {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 21px 26px;

  @media (min-width: $tablet-width) {
    background-position: 50% 40px;
  }
}

.souvenirs-item {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 25px -3px;

  @media (min-width: $tablet-width) {
    background-position: 50% 40px;
  }
}

.eat-item {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 18px 3px;

  @media (min-width: $tablet-width) {
    background-position: 50% 40px;
  }
}

.advantages__item--large:nth-child(2) .advantages__item-content {
  padding: 40px 25px 21px;
}

.advantages__item:not(.advantages__item--large) {
  background-color: #eeeeee;
  padding: 27px 10px 10px 10px;

  & .advantages__title {
    margin-bottom: 10px;
  }

  & .advantages__description {
    margin: 18px 0 0;
    padding: 0 25px 13px;
  }
}

.advantages__item:not(:last-child):not(.advantages__item--large) {
  position: relative;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      right: 20px;
      left: 20px;
      bottom: 0;
      display: block;
      height: 1px;
      background-color: #d6d6d6;
    }
  }
}

.advantages__list-advantages-wrapper {

  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
