.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  text-align: center;

  &--large {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.advantages__item--large .advantages__item-content {
  padding: 55px 19px 28px;
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    padding: 40px 30px 5px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 60px 5px;
  }
}

.advantages__item--large:not(:first-child):nth-child(odd) .advantages__item-content {
  order: 2;
}

.advantages__item--large:not(:first-of-type) .advantages__item-content {
  padding-top: 39px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.advantages__item-content .advantages__title {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 13px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 35px;
  }
}

.advantages__title br {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.advantages__item-content .advantages__number {
  display: block;
  margin-bottom: 18px;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.advantages__item-content .advantages__description {
  margin: 0;
  padding-bottom: 10px;
  color: $white;
  text-transform: uppercase;
}

.advantages__description--bridge br {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.advantages__image-wrapper {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
}

.advantages__image {
  display: block;
}

.advantages__sub-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__sub-item {
  background-repeat: no-repeat;

  @media (max-width: $mobile-width) {

    text-align: left;
    padding-right: 20px;
    padding-left: 70px;

    &:nth-child(1) {
      padding-top: 35px;
    }

    &:not(:nth-child(1)) {
      padding-top: 21px;
    }

    &:last-child {
      padding-bottom: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 157px 32px 56px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 77px;
  }

  &--housing-item {
    background-image: url("../img/icon-house.svg");
    background-position: 21px 26px;

    @media (min-width: $tablet-width) {
      order: 1;
      background-position: 50% 60px;
      background-size: 75px;
    }
  }

  &--souvenirs-item {
    background-image: url("../img/icon-gift.svg");
    background-position: 25px 10px;

    @media (min-width: $tablet-width) {
      order: 3;
      background-position: 50% 57px;
      background-size: 64px;
    }
  }

  &--eat-item {
    background-image: url("../img/icon-burger.svg");
    background-position: 18px 16px;

    @media (min-width: $tablet-width) {
      order: 2;
      background-position: 50% 64px;
      background-size: 76px;
    }
  }
}

.advantages__sub-item--housing-item br {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.advantages__sub-item--souvenirs-item br {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.advantages__sub-description br {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.advantages__sub-description-wrap--road {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__sub-description-wrap--tourists {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__sub-title {
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 23px;
    font-size: 21px;
  }
}

.advantages__sub-title br {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.advantages__sub-description {
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.advantages__sub-item-wrapper:last-child .advantages__sub-item {
  padding: 25px 32px 20px;
  background-color: #eeeeee;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 65px 57px;
  }
}

.advantages__sub-item-wrapper:last-child .advantages__sub-item:first-child {
  padding: 25px 39px 20px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 55px 50px;
  }
}

.advantages__sub-item-wrapper:last-child .advantages__sub-item:not(:last-child) {
  position: relative;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      right: 20px;
      left: 20px;
      bottom: 0;
      display: block;
      height: 1px;
      background-color: #d6d6d6;
    }
  }
}

.advantages__sub-item-wrapper:last-child .advantages__sub-title {
  margin-bottom: 10px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 78px;
  }
}

.advantages__sub-item-wrapper:last-child .advantages__sub-number {
  display: block;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}


.advantages__sub-item-wrapper:last-child .advantages__sub-description {
  padding-right: 0;
}
