.copyright__text {
  margin-right: 12px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.copyright__link {
  padding-top: 5px;
  fill: $black;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: $black;
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 2px solid $focus-color;
    outline-offset: 2px;
  }
}
