.feedback-form {
  padding: 0 20px 43px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 60px 66px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 121px 72px 120px;
  }
}

.feedback-form__introduce-wrapper {
  position: relative;
  padding-top: 21px;
  padding-bottom: 25px;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    order: 2;
    padding-left: 58px;
    padding-top: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 41px;
    padding-left: 80px;
  }
}

.feedback-form__introduce-wrapper .feedback-form__field {
  display: flex;
  align-items: center;
  margin: 0;
}

.feedback-form__introduce-wrapper .feedback-form__label {
  margin-right: 15px;

  @media (min-width: $desktop-width) {
    margin-right: 16px;
  }
}

.feedback-form__title {
  margin: 0 0 19px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 21px;
    text-align: left;
  }
}

.feedback-form__field--introduce + .feedback-form__field--introduce {
  margin-top: 20px;
}

.feedback-form__label-wrapper {
  display: inline-block;
  padding-left: 2px;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-left: 0;
  }
}

.feedback-form__label {
  line-height: 26px;
  text-transform: uppercase;

  &--hide {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.feedback-form__label-notes {
  position: relative;
  top: 3px;
}

/*feedback-form-contacts*/

.feedback-form__contacts-wrapper {
  position: relative;
  padding-top: 21px;
  padding-bottom: 28px;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    order: 3;
    grid-column: span 2;
    padding-top: 37px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 35px;
  }
}

.feedback-form__contacts-wrapper .feedback-form__title {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 137px;
    text-align: center;
    margin-bottom: 14px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 35%;
      left: 0;
      height: 1px;
      width: 123px;
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 35%;
      right: 0;
      height: 1px;
      width: 123px;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: span 2;
    margin-bottom: 72px;
    padding-right: 280px;
    padding-left: 274px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 40%;
      left: 0;
      height: 1px;
      width: 280px;
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 40%;
      right: 0;
      height: 1px;
      width: 280px;
      background-color: #dbdbdb;
    }
  }
}

.feedback-form__contacts-wrapper .feedback-form__field {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.feedback-form__contacts-wrapper .feedback-form__label {
  margin-left: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-shrink: 0;
    margin-left: 0;
    align-items: center;
  }
}

.feedback-form__field--phone {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.feedback-form__field--phone .feedback-form__label-wrapper {
  @media (min-width: $desktop-width) {
    margin-right: 16px;
  }
}

.feedback-form__field--email .feedback-form__label-wrapper {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 19px;
  }
}

.feedback-form__input-phone {
  @media (min-width: $desktop-width) {
    width: 258px;
  }
}

.feedback-form__input-email {
  @media (min-width: $desktop-width) {
    width: 258px;
  }
}

.feedback-form__input-contacts-wrapper {
  display: flex;

  &--phone::after {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  &--email::after {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }
}


/*impression fieldset*/

.feedback-form__impression-wrapper {
  position: relative;
  padding-top: 21px;
  padding-bottom: 13px;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #e6e6e6;
    }
  }

  @media (min-width: $tablet-width) {
    order: 1;
    padding-top: 60px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 25px;
      bottom: 30px;
      right: 0;
      width: 1px;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 41px;
  }
}

.feedback-form__impression-fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $desktop-width) {
    padding-left: 4px;
  }
}

.feedback-form__impression-fieldset .feedback-form__label {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.feedback-form__impression-fieldset .feedback-form__radio-value {
  margin-left: 23px;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.feedback-form__impression-legend {
  margin: 0 auto 22px auto;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0 0 57px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 57px 76px;
  }
}

.feedback-form__radio-check {
  display: grid;
  place-content: center;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  border-radius: 50%;

  &:hover {
    background-color: #e5e5e5;
    border: 5px solid #e5e5e5;
    cursor: pointer;
  }

  &:active {
    background-color: #d5d5d5;
    border: 5px solid #d5d5d5;
  }
}

.feedback-form__radio-input:checked + .feedback-form__radio-check::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 50%;
}

.feedback-form__radio-input:checked:active + .feedback-form__radio-check::before {
  opacity: 0.3;
}


/*sightseeing-fields*/

.feedback-form__sightseeing-wrapper {
  position: relative;
  padding-top: 16px;
  padding-bottom: 1px;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    order: 4;
    grid-column: span 2;
    padding-top: 24px;
  }
}

.feedback-form__sightseeing-fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.feedback-form__sightseeing-fieldset .feedback-form__label {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) and (max-width: 1279px) {
    margin-bottom: 32px;
    padding-left: 31px;

    &:nth-of-type(odd) {
      padding-left: 95px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.feedback-form__sightseeing-fieldset .feedback-form__checkbox-value {
  margin-left: 23px;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 28;
  }
}


.feedback-form__sightseeing-legend {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 20px auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
    padding: 0 150px;
    font-size: 21px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      height: 1px;
      width: 123px;
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      right: 0;
      height: 1px;
      width: 123px;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: span 2;
    padding: 0 300px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      height: 1px;
      width: 280px;
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      right: 0;
      height: 1px;
      width: 280px;
      background-color: #dbdbdb;
    }
  }
}

.feedback-form__checkbox-check {
  display: block;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  border-radius: 5px;

  &:hover {
    background-color: #e5e5e5;
    border: 5px solid #e5e5e5;
    cursor: pointer;
  }

  &:active {
    background-color: #d5d5d5;
    border: 5px solid #d5d5d5;
  }
}

.feedback-form__checkbox:checked + .feedback-form__checkbox-check {
  display: block;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  background-image: url("../img/chek-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.feedback-form__checkbox:checked:active + .feedback-form__checkbox-check {
  opacity: 0.3;
}


/*emotion-field*/

.feedback-form__emotion-wrapper {
  position: relative;
  padding-top: 21px;
  padding-bottom: 45px;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    order: 5;
    grid-column: span 2;
    padding-top: 37px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
  }
}

.feedback-form__emotion-fieldset {

  margin: 0;
  padding: 0;
  border: none;
}

.feedback-form__emotion-legend {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 15px auto;
  padding: 0 10px 0 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    padding: 0 150px;
    font-size: 21px;
    margin-bottom: 54px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 32%;
      left: 0;
      height: 1px;
      width: 123px;
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 32%;
      right: 0;
      height: 1px;
      width: 123px;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      height: 1px;
      width: 280px;
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      right: 0;
      height: 1px;
      width: 280px;
      background-color: #dbdbdb;
    }
  }
}

.feedback-form__textarea-input {
  padding: 13px 20px 29px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 160px;
  font-family: $main-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  resize: none;
  color: $black;

  &::placeholder {
    color: $black;
    opacity: 1;
  }

  &:hover {
    background: #e5e5e5;
  }

  &:active {
    background: $white;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }

  &:focus {
    background: $white;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 21px;
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 21px;
    padding-top: 18px;
  }
}

.feedback-form__button {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 13px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: 6;
    padding-right: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.feedback-form__required-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    align-self: center;
    order: 7;
    line-height: 26px;
    text-transform: uppercase;
  }
}
