.feedback-form {
  padding: 0 20px 48px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px 0;
  }
}

.feedback-form__introduce-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 25px;

  & .feedback-form__field {
    display: flex;
    align-items: center;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.feedback-form__title {
  margin: 0 0 19px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.feedback-form__field + .feedback-form__field {
  margin-top: 20px;
}

.feedback-form__label {
  margin-right: 15px;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback-form__label-notes {
  position: relative;
  top: 3px;
}

/*feedback-form-contacts*/

.feedback-form__contacts-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 25px;

  & .feedback-form__label {
    margin-left: 20px;
  }

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    order: 3;
    grid-column: span 2;
  }
}

.feedback-form__input-contacts-wrapper {
  display: flex;
}

.feedback-form__phone-icon {
  display: block;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.feedback-form__mail-icon {
  display: block;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

/*impression fieldset*/

.feedback-form__impression-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #e6e6e6;
    }
  }

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.feedback-form__impression-fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;

  & .feedback-form__label {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
  }

  & .feedback-form__radio-value {
    margin-left: 20px;
  }
}

.feedback-form__impression-legend {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.feedback-form__radio-check {
  display: grid;
  place-content: center;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  border-radius: 50%;
}

.feedback-form__radio-input:checked + .feedback-form__radio-check::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 50%;
}

/*sightseeing-fields*/

.feedback-form__sightseeing-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    order: 4;
    grid-column: span 2;
  }
}

.feedback-form__sightseeing-fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;

  & .feedback-form__label {
    display: flex;
    align-items: center;
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      &:nth-of-type(odd) {
        padding-left: 100px;
      }
    }
  }

  & .feedback-form__checkbox-value {
    margin-left: 20px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.feedback-form__sightseeing-legend {

  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {

    padding: 0 230px;
  }
}

.feedback-form__checkbox-check {
  display: block;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  border-radius: 5px;
}

.feedback-form__checkbox:checked + .feedback-form__checkbox-check {
  display: block;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  background-image: url("../img/chek-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}


/*emotion-field*/

.feedback-form__emotion-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    order: 5;
    grid-column: span 2;
  }
}

.feedback-form__emotion-fieldset {

  margin: 0;
  padding: 0;
  border: none;
}

.feedback-form__emotion-legend {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.feedback-form__textarea-input {
  padding: 13px 22px 29px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: $main-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  resize: none;
  color: $black;

  &::placeholder {
    color: $black;
    opacity: 1;
  }
}

.feedback-form__button {
  display: block;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: 6;
  }
}
