.guest-gallery {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.guest-gallery__header-wrapper {
  padding: 31px 0 30px;

  @media (min-width: $tablet-width) {
    padding: 63px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.guest-gallery__title {
  margin: 0 0 29px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 30px;
  }
}

.guest-gallery__description {
  margin: 0;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 102px;
  }
}

.guest-gallery__description br {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.guest-gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.guest-gallery__item {
  position: relative;
  padding-top: 22px;
  padding-bottom: 15px;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -20px;
      left: -20px;
      display: block;
      height: 1px;
      background-color: #e5e5e5;
    }

    &:last-child::after {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      left: -20px;
      display: block;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {

    padding-bottom: 0;
    margin-top: 0;

    &:first-child {
      grid-column: span 2;
      margin-top: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      grid-column: span 3;
      margin-top: 24px;
    }
  }
}

.guest-gallery__card {
  margin: 0;
  padding: 0;
}

.guest-gallery__image {
  display: block;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.guest-gallery__description-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 7px;
    align-items: center;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
  }
}

.guest-gallery__image-name {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.guest-gallery__image-author {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.guest-gallery__likes-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.guest-gallery__likes-button {
  width: 23px;
  height: 21px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    margin-left: auto;
  }
}

.guest-gallery__likes-button-image {
  fill: $black;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    fill: $white;
    opacity: 1;
  }
}

.guest-gallery__likes {
  margin-left: 10px;
  font-weight: bold;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    min-width: 23px;
    margin-bottom: 6px;
    margin-left: 9px;
    padding-right: 29px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.guest-gallery__item:first-child .guest-gallery__likes {
  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
    margin-left: 9px;
    padding-right: 20px;
  }
}

.guest-gallery__item:first-child .guest-gallery__likes-button {
  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
  }
}

.guest-gallery__item:not(:first-child):nth-child(odd) .guest-gallery__description-wrapper {
  @media (min-width: $tablet-width) and (max-width: 1199px) {
    background-color: #eaeaea;
  }
}
