.guest-gallery {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.guest-gallery__header-wrapper {
  padding: 24px 20px 20px;
}

.guest-gallery__title {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.guest-gallery__description {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.guest-gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.guest-gallery__item {
  position: relative;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      height: 1px;
      background-color: #e5e5e5;
    }

    &:last-child::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      grid-column: span 2;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      grid-column: span 3;
    }
  }
}

.guest-gallery__card {
  margin: 0;
  padding: 0;
}

.guest-gallery__image {
  display: block;
}

.guest-gallery__description-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
  }
}

.guest-gallery__image-name {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 15px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.guest-gallery__image-author {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 15px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.guest-gallery__likes-button {
  width: 23px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/like-icon-light.svg");
  }
}

.guest-gallery__likes {
  margin-left: 30px;
  font-weight: bold;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}
