.index-welcome {
  position: relative;
  min-height: 299px;
  padding-top: 90px;
  background-image: url("../img/background/back-home-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/back-home-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    background-image: url("../img/background/back-home-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/back-home-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background/back-home-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/back-home-desktop@2x.jpg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../img/intro-triangle-mobile.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-image: url("../img/intro-triangle-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/intro-triangle-desktop.svg");
    }
  }
}

.index-welcome__logo {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    padding-bottom: 92px;
  }
}
