.index-welcome {
  min-height: 299px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  position: relative;
  margin-top: -28px;
  padding-top: 90px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../img/intro-triangle-mobile.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-image: url("../img/intro-triangle-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/intro-triangle-desktop.svg");
    }
  }
}

.index-welcome__logo {
  display: block;
  margin: 0 auto;
}
