.inner-welcome {
  position: relative;
  padding-top: 52px;
  min-height: 106px;
  background-image: url("../img/background/back-inner-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/back-inner-mobile@2x.jpg");
  }

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 57px;
      background-image: url("../img/intro-triangle-mobile.svg");
      background-repeat: no-repeat;
    }
  }


  @media (min-width: $tablet-width) {
    padding-top: 94px;
    min-height: 196px;
    background-image: url("../img/background/back-inner-tablet@1x.jpg");
    background-position: 0 -56px;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 57px;
      background-image: url("../img/intro-triangle-tablet.svg");
      background-repeat: no-repeat;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/back-inner-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 94px;
    min-height: 207px;
    background-image: url("../img/background/back-inner-desktop@1x.jpg");
    background-position: 0 -56px;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 57px;
      background-image: url("../img/intro-triangle-desktop.svg");
      background-repeat: no-repeat;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/back-inner-desktop@2x.jpg");
    }
  }
}

.inner-welcome__logo {
  display: block;
  width: 229px;
  height: 39px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    height: 80px;
  }
}
