.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 24px;
  z-index: 4;
  display: block;
  width: 23px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle-burger {
  display: block;
  fill: #81b3d2;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle-cross {
  display: none;
}

.main-nav--opened .main-nav__toggle-burger {
  display: none;
}

.main-nav--opened .main-nav__toggle-cross {
  display: block;
  fill: $white;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

.main-nav__list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
  }
}

.main-nav__item {
  position: relative;
  min-height: 55px;
  text-align: center;
  background-color: #81b3d2;

  @media (max-width: $mobile-width) {
    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    background-color: #ffffff;

    &--current a {
      color: #766357;
    }

    &:nth-child(4n-2) {
      margin-right: 152px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(4n-2) {
      margin-right: 240px;
    }
  }
}

.main-nav__link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $white;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px;
    font-size: 14px;
    line-height: 26px;
    color: $black;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

/*mobile-menu-only*/

.main-nav__item:not(:last-child) {
  @media (max-width: $mobile-width) {
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }
}

.main-nav__item:not(:first-child) {
  @media (max-width: $mobile-width) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.main-nav__item:last-child::before {
  @media (max-width: $mobile-width) {
    content: "";
    position: absolute;
    display: block;
    height: 7px;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}
