.page-header {
  position: relative;
  min-height: 56px;
}

.page-header__logo-link {
  display: block;
}

.page-header__logo-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  z-index: 3;
}
