.page-footer {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  padding: 33px 0 29px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-right: 55px;
    padding-bottom: 0;
    padding-left: 55px;
    min-height: 116px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 115px;
    padding-left: 114px;
    min-height: 114px;
  }
}

.page-footer__hashtag {
  display: block;
  margin-bottom: 34px;
  padding: 0 5px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin: 0 0 32px 0;
  padding: 0 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 7px;

  }
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-footer__social-item + .page-footer__social-item {
  margin-left: 6px;
  margin-bottom: 6px;
}

.page-footer__social-link {
  display: grid;
  place-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    & .social__link-icon {
      opacity: 0.3;
    }
  }
}

.social__link-icon {
  fill: $white;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.copyright__text {
  margin-right: 12px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.copyright__link {
  padding-top: 2px;
  margin-left: 1px;
  fill: $black;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: $black;
    opacity: 0.3;
  }
}
