.search-hotel-index {
  text-align: center;
  text-transform: uppercase;
  padding: 31px 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 58px 167px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 382px;
  }
}

.search-hotel-index__title {
  margin: 0 0 22px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.search-hotel-index__description {
  margin: 0 0 27px;
  line-height: 24px;
}

.search-hotel-index__button {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
