.social {
  margin-top: 33px;
  margin-bottom: 57px;
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social__item + .social__item {
  margin-left: 6px;
}
