@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "page-header.scss";
@import "main-nav.scss";
@import "index-welcome.scss";
@import "index-greeting.scss";
@import "advantages.scss";
@import "search-hotel-index.scss";
@import "map.scss";
@import "page-footer.scss";
@import "social.scss";
@import "copyright.scss";
@import "inner-welcome.scss";
@import "feedback-content";
@import "feedback-form.scss";
@import "feedback-modal-ok.scss";
@import "feedback-modal-error.scss";
@import "guest-gallery";
@import "video.scss";
