@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "page-header.scss";
@import "main-nav.scss";
@import "index-welcome.scss";
@import "index-greeting.scss";
@import "advantages.scss";
@import "search-hotel-index.scss";
@import "page-footer.scss";
@import "social.scss";
@import "inner-header.scss";
@import "main-feedback.scss";
@import "feedback-form.scss";
@import "modal.scss";
