.video {
  padding-top: 32px;
}

.video__title {
  padding: 0 20px 33px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.video__description {
  margin: 0;
  padding: 0 20px 33px;
  text-align: center;
  text-transform: uppercase;
}

.video__content {
  position: relative;
}

.video__image {
  display: block;
  width: 100%;
  height: auto;
}

.video__control {
  display: flex;
  align-items: center;
  height: 66px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: 66px;
    background-color: rgb(0, 0, 0, 0.6);
  }
}

.video__control-slidebar {
  position: absolute;
  background-color: $black;
  height: 45px;
  left: 20px;
  bottom: 66px;
  right: 20px;
  opacity: 0.6;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    top: 21px;
    right: 20px;
    left: 20px;
    background-color: $white;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      left: 92px;
      right: 170px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: -2px;
    order: 2;
    width: 100%;
    background-color: transparent;
    opacity: 1;
  }
}

.video__control-toggle {
  position: absolute;
  left: 37px;
  top: 18px;
  display: block;
  width: 9px;
  height: 9px;
  background-color: $white;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 207px;
  }
}

.video__control-button {
  display: grid;
  place-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--replay {
    margin-left: 25px;

    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--subtitles {
    margin-left: auto;
    margin-right: 31px;

    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--fullscreen {
    margin-right: 23px;

    @media (min-width: $tablet-width) {
      order: 4;
    }
  }
}

.video__control-icon {
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    fill: $white;

    &:hover {
      fill: $white;
      opacity: 0.6;
    }

    &:active {
      fill: $white;
      opacity: 0.3;
    }
  }
}
