.video {
  padding-top: 32px;
}

.video__title {
  padding: 0 20px 33px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.video__description {
  margin: 0;
  padding: 0 20px 33px;
  text-align: center;
  text-transform: uppercase;
}

.video__content {
  position: relative;
}

.video__image {
  display: block;
  width: 100%;
  height: auto;
}

.video__control {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: 75px;
    background-color: rgb(0, 0, 0, 0.6);
  }
}

.video__control-slidebar {
  position: absolute;
  background-color: $black;
  height: 45px;
  left: 20px;
  bottom: 48px;
  right: 20px;
  opacity: 0.6;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    top: 21px;
    right: 20px;
    left: 20px;
    background-color: $white;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      left: 92px;
      right: 170px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: -2px;
    order: 2;
    width: 100%;
    background-color: transparent;
    opacity: 1;
  }
}

.video__control-toggle {
  position: absolute;
  left: 37px;
  top: 18px;
  display: block;
  width: 9px;
  height: 9px;
  background-color: $white;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 207px;
  }
}

.video__control-replay {
  margin-left: 25px;
  padding: 24px 0;
  width: 16px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/replay.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    order: 1;
    padding: 37px 0;
    background-image: url("../img/replay-light.svg");
  }
}

.video__control-subtitles {
  margin-left: auto;
  margin-right: 31px;
  padding: 24px 0;
  width: 32px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/subtitles.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    order: 3;
    padding: 37px 0;
    background-image: url("../img/subtitles-light.svg");
  }
}

.video__control-fullscreen {
  margin-right: 23px;
  padding: 24px 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/fullscreen.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    order: 4;
    padding: 37px 0;
    background-image: url("../img/fullscreen-light.svg");
  }
}
