.video {
  padding-top: 21px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding: 47px 60px 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 201px 91px 199px;
  }
}

.video__title {
  margin: 0 0 4px 0;
  padding: 10px 20px 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
    padding: 10px 20px 10px;
    font-size: 30px;
  }
}

.video__description {
  margin: 0 0 18px 0;
  padding: 15px 25px 15px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.video__description br {

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.video__content {
  position: relative;
}

.video__image {
  display: block;
  width: 100%;
  height: auto;
}

.video__control {
  display: flex;
  align-items: center;
  height: 66px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 94px;
    background-color: rgb(0, 0, 0, 0.6);
  }
}

.video__control-slidebar {
  position: absolute;
  background-color: $black;
  height: 45px;
  left: 20px;
  bottom: 65px;
  right: 20px;
  opacity: 0.6;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    top: 21px;
    right: 20px;
    left: 20px;
    background-color: $white;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      top: 19px;
      right: 56px;
      left: 16px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: -2px;
    order: 2;
    width: 100%;
    background-color: transparent;
    opacity: 1;
  }
}

.video__control-toggle {
  position: absolute;
  left: 57px;
  top: 19px;
  display: block;
  width: 9px;
  height: 9px;
  margin: 0;
  padding: 0;
  background-color: $white;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 16px;
    left: 129px;
  }
}

.video__control-button {
  display: grid;
  place-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--replay {
    margin-left: 38px;

    @media (min-width: $tablet-width) {
      order: 1;
      margin-left: 29px;
    }
  }

  &--subtitles {
    margin-left: auto;
    margin-right: 19px;

    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--fullscreen {
    margin-right: 38px;

    @media (min-width: $tablet-width) {
      order: 4;
      margin-right: 35px;
    }
  }
}

.video__control-icon {
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    fill: $white;

    &:hover {
      fill: $white;
      opacity: 0.6;
    }

    &:active {
      fill: $white;
      opacity: 0.3;
    }
  }
}
